body {
    font-size: 46px;
    font-family: "Open Sans", serif;
}

h2 {
    font-family: "Abel", Arial, sans-serif;
}

div {
    width: 100%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    right: 0;

    margin-left: auto;
    margin-right: auto;
}